<h2 class="text-center">Add a card</h2>
<form class="text-center" ng-submit="mCtrl.addCards()">
    <input type="text"  placeholder="name" ng-model="mCtrl.newCard.name">
    <input type="text"  placeholder="Super Power" ng-model="mCtrl.newCard.superPower">
    <input type="number"  placeholder="power" ng-model="mCtrl.newCard.power">
    <input type="number"  placeholder="toughness" ng-model="mCtrl.newCard.toughness">
    <input type="text"  placeholder="art" ng-model="mCtrl.newCard.art">
    <button type="submit">Add Card</button>
</form>
